// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Jianfeng Liu <liujianfeng1994@gmail.com>
 *
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3588.dtsi"
#include "rk3588-rk806-single.dtsi"




/ {
	model = "ArmSoM AIM7 ";
	compatible = "armsom,aim7", "rockchip,rk3588";
	
	wm8904_sound: wm8904-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-wm8904";
		io-channels = <&saradc 4>;
		io-channel-names = "adc-detect";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s2_2ch>;
		rockchip,codec = <&codec>;
		rockchip,audio-routing =
			"Headphone", "LOUT1",
			"Headphone", "ROUT1",
			"Headphone", "Headphone Power",
			"Headphone", "Headphone Power",
			"LINPUT1", "Main Mic",
			"LINPUT2", "Main Mic",
			"RINPUT1", "Headset Mic",
			"RINPUT2", "Headset Mic";
		
		
	};

};

&av1d {
	status = "okay";
};

&av1d_mmu {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	mem-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m2_xfer>;

	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
         status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
	

		 
		 
		    
  pca: pcal6416a@20 {
		   compatible = "nxp,pcal6416";
		     status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x20>;
		interrupt-parent = <&gpio1>;
		 interrupts = <RK_PD5 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;
                  

                   
	           };
	           
	           
   pcal6524a@22 {
		   compatible = "nxp,pcal6524";
		    status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x22>;
		interrupt-parent = <&gpio3>;
		 interrupts = <RK_PA7 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;
                    
	          };    
		    
		    
		    

};

&i2c4 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;
	
	
 tca8418@34 {
                  compatible = "ti,tca8418";
                  interrupt-parent = <&gpio3>;
		 interrupts = <RK_PC4 IRQ_TYPE_LEVEL_HIGH>;
                   reg = <0x34>;
                   keypad,num-rows = <3>;
                   keypad,num-columns = <2>;
                   linux,keymap = <
                        0x0000003b
                        0x0001003c
                        0x0100003d
                        0x0101003e
                        0x0200003f
                        0x02010040
                      >;
                       status = "okay";
		    };
		    
	  	 
	
	  pca2: pcal6416@20 {
		   compatible = "nxp,pcal6416";
		     status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x20>;
		interrupt-parent = <&gpio0>;
		 interrupts = <RK_PA4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;
                  

                   
	           };
	

};
&i2c6 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m1_xfer>;
	
		
	  goodix_ts@14 {
            compatible = "goodix,gt9xx";
            reg = <0x14>;
            interrupt-parent = <&gpio3>;
	    interrupts = <RK_PA1 IRQ_TYPE_LEVEL_LOW>;
             goodix,rst-gpio= <&gpio4 RK_PA4  GPIO_ACTIVE_LOW>;
             goodix,irq-gpio= <&gpio3 RK_PA1  GPIO_ACTIVE_HIGH>;
             goodix,cfg-group0 = [

                    43 38 04 80 07 05 35 00 01 0F 28 0F 50 32 03 05
                    00 00 00 00 00 00 06 18 1A 1E 14 8A 2A 0B 45 47
                    B5 06 00 00 00 19 02 2C 00 01 00 00 00 03 64 32 
                    00 00 00 28 64 94 C5 02 07 00 00 04 B2 2C 00 9C
                    34 00 88 3F 00 78 4C 00 6D 5B 00 6D 00 00 00 00 
                    00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 
                    00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 
                    16 14 12 10 0E 0C 0A 08 06 04 02 FF FF FF 00 00 
                    00 00 00 00 00 00 00 00 00 00 00 00 00 00 02 04 
                    06 08 0A 0C 0F 10 12 13 24 22 21 20 1F 1E 1D 1C 
                    18 16 FF FF FF FF FF FF 00 00 00 00 00 00 00 00 
                    00 00 00 00 00 00 00 00 2A 01

                      ];
                };		
	
	  codec: wm8904@1a { 
               status = "okay";
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8904";
		reg = <0x1a>;
		clocks = <&mclkout_i2s2>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_i2s2>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s2_mclk>;
                       };
                                         
	
};



&i2s2_2ch {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-0 = <&i2s2_lrck
			 &i2s2m1_sclk
			 &i2s2m1_sdi
			 &i2s2m1_sdo>;
};



&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&jpege_ccu {
	status = "okay";
};

&jpege0 {
	status = "okay";
};

&jpege0_mmu {
	status = "okay";
};

&jpege1 {
	status = "okay";
};

&jpege1_mmu {
	status = "okay";
};

&jpege2 {
	status = "okay";
};

&jpege2_mmu {
	status = "okay";
};

&jpege3 {
	status = "okay";
};

&jpege3_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga3_core0 {
	status = "okay";
};

&rga3_0_mmu {
	status = "okay";
};

&rga3_core1 {
	status = "okay";
};

&rga3_1_mmu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rkvdec_ccu {
	status = "okay";
};

&rkvdec0 {
	status = "okay";
};

&rkvdec0_mmu {
	status = "okay";
};

&rkvdec1 {
	status = "okay";
};

&rkvdec1_mmu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};




