// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Jianfeng Liu <liujianfeng1994@gmail.com>
 *#include "rk3588-lubancat-cam.dtsi" #include "rk3588-lubancat-5io-cam0.dtsi"
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3588.dtsi"
#include "rk3588-rk806-single.dtsi"
#include <dt-bindings/usb/pd.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include "rk3588-linux.dtsi"
#include <dt-bindings/clock/rk3588-cru.h>
#include <dt-bindings/power/rk3588-power.h>

/ {
	model = "ArmSoM AIM7 ";
	compatible = "armsom,aim7", "rockchip,rk3588";
	
		wm8904_sound: wm8904_sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip-wm8904";
		simple-audio-card,cpu {
				sound-dai = <&i2s1_8ch>;
			};
		simple-audio-card,codec {
				sound-dai = <&codec>;
			};
		
	};
	
	/*wm8904_sound: wm8904-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-wm8904";
		rockchip,codec-hp-det;
		poll-interval = <100>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s1_8ch>;
		rockchip,codec = <&codec>;
		rockchip,audio-routing =
		
			"Headphone", "LOUT1",
			"Headphone", "ROUT1",
			"Headphone", "Headphone Power",
			"Headphone", "Headphone Power",
			"LINPUT1", "Main Mic",
			"LINPUT2", "Main Mic",
			"RINPUT1", "Headset Mic",
			"RINPUT2", "Headset Mic";
		
	};*/
};

&av1d {
	status = "okay";
};

&av1d_mmu {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	mem-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m2_xfer>;

	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
         status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
	 
  pca: pcal6416a@20 {
		   compatible = "nxp,pcal6416";
		     status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x20>;
		interrupt-parent = <&gpio1>;
		 interrupts = <RK_PD5 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;                                
	           };
	           
	           
   pcal6524a@22 {
		   compatible = "nxp,pcal6524";
		    status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x22>;
		interrupt-parent = <&gpio3>;
		 interrupts = <RK_PA7 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;
                    
	          };    
		    
		    
		    

};

&i2c4 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;
	
	
 tca8418@34 {
                  compatible = "ti,tca8418";
                  interrupt-parent = <&gpio3>;
		 interrupts = <RK_PC4 IRQ_TYPE_LEVEL_HIGH>;
                   reg = <0x34>;
                   keypad,num-rows = <3>;
                   keypad,num-columns = <2>;
                   linux,keymap = <
                        0x0000003b
                        0x0001003c
                        0x0100003d
                        0x0101003e
                        0x0200003f
                        0x02010040
                      >;
                       status = "okay";
		    };
		    
	  	 
	
	  pca2: pcal6416@20 {
		   compatible = "nxp,pcal6416";
		     status = "okay";
		    gpio-controller;
		    #gpio-cells = <2>;
		    reg = <0x20>;
		interrupt-parent = <&gpio0>;
		 interrupts = <RK_PA4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		 #interrupt-cells = <2>;
	           };
	

};
&i2c6 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m1_xfer>;
	
	
	 gt9xx_dsi1: gt911@5d {
	    status = "okay";
            compatible = "goodix,gt911";
            reg = <0x5d>;
            interrupt-parent = <&gpio3>;
	    interrupts = <RK_PA1 IRQ_TYPE_LEVEL_LOW>;
            reset-gpios = <&gpio4 RK_PA4  GPIO_ACTIVE_LOW>;
            irq-gpios = <&gpio3 RK_PA1  GPIO_ACTIVE_HIGH>;
            touchscreen-inverted-x = <1>;
	    touchscreen-inverted-y = <1>;
                };		
	
	  codec: wm8904@1a { 
               status = "okay";
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8904";
		reg = <0x1a>;
		clocks = <&mclkout_i2s1>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_i2s1>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s1m0_mclk>;
		DBVDD-supply = <&vcc_1v8_s0>;
                DCVDD-supply = <&vcc_1v8_s0>;
                AVDD-supply = <&vcc_1v8_s0>;
                CPVDD-supply = <&vcc_1v8_s0>;
                MICVDD-supply = <&vcc_3v3_s3>;
                       };
                                         
	
};
&i2s1_8ch {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_lrck
			     &i2s1m0_sclk
			     &i2s1m0_sdi0
			      &i2s1m0_sdo0
			     >;


			 
			 
};


/*

&i2c3 {
	 status = "okay";
         pinctrl-names = "default";
         pinctrl-0 = <&i2c3m0_xfer>;
    

	dcphy0_imx415: imx415@1a {
		compatible = "sony,imx586";
		status = "okay";
		reg = <0x1a>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		power-domains = <&power RK3588_PD_VI>;
		avdd-supply = <&cam_avdd>;
		dovdd-supply = <&cam_dovdd>;
		dvdd-supply = <&cam_dvdd>;
	//	pwdn-gpios = <&gpio6 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RADXA-CAMERA-8M";
		rockchip,camera-module-lens-name =  "default";
		//lens-focus = <&dw9800w>;
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		// rockchip,camera-hdr-mode = <0>;
		port {
			imx415_dcphy0_out: endpoint {
				remote-endpoint = <&dcphy0_in_imx415>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi_dcphy0 {
	status = "okay";
};

&csi2_dcphy0 {
	status = "okay";
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dcphy0_in_imx415: endpoint@5 {
				reg = <1>;
				remote-endpoint = <&imx415_dcphy0_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp0_vir0>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp0 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&rkisp0_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_vir0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};


*/



/*
&i2c3 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3m0_xfer>;
    
    imx586: imx586@1a {
        status = "okay";
        compatible = "sony,imx586";
        reg = <0x1a>;
        clocks = <&ext_cam_24m_clk>;
        clock-names = "xvclk";
        power-domains = <&power RK3588_PD_VI>;
	avdd-supply = <&cam_avdd>;
	dovdd-supply = <&cam_dovdd>;
	dvdd-supply = <&cam_dvdd>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
      //pwdn-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
	rockchip,camera-module-index = <0>;
	rockchip,camera-module-facing = "back";
	rockchip,camera-module-name = "CMK-OT1607-FV1";
	rockchip,camera-module-lens-name = "M12-40IRC-4MP-F16";
	port {
		imx586_out0: endpoint {
			remote-endpoint = <&mipidphy0_in_ucam0>;
			data-lanes = <1 2>;
				     };
	     };
        };
};


&mipi_dcphy0 {
	status = "okay";
};



&csi2_dphy0_hw {
    status = "okay";
};

&csi2_dphy1_hw {
    status = "okay";
};


&csi2_dphy0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipidphy0_in_ucam0: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&imx586_out0>;
                data-lanes = <1 2>;
            };

        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csidphy0_out: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi2_csi2_input>;
            };
        };
    };
};

&mipi2_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi2_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csidphy0_out>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi2_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi2_in0>;
            };
        };
    };
};
&rkcif {
    status = "okay";
};

&rkcif_mipi_lvds2 {
    status = "okay";

    port {
        cif_mipi2_in0: endpoint {
            remote-endpoint = <&mipi2_csi2_output>;
        };
    };
};

&rkcif_mipi_lvds2_sditf {
    status = "okay";

    port {
        mipi_lvds2_sditf: endpoint {
            remote-endpoint = <&isp0_vir0>;
        };
    };
};

&rkcif_mmu {
    status = "okay";
};

&rkisp0 {
    status = "okay";
};

&isp0_mmu {
    status = "okay";
};

&rkisp0_vir0 {
    status = "okay";

    port {
        #address-cells = <1>;
        #size-cells = <0>;

        isp0_vir0: endpoint@0 {
            reg = <0>;
            remote-endpoint = <&mipi_lvds2_sditf>;
        };
    };
};

*/












&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&jpege_ccu {
	status = "okay";
};

&jpege0 {
	status = "okay";
};

&jpege0_mmu {
	status = "okay";
};

&jpege1 {
	status = "okay";
};

&jpege1_mmu {
	status = "okay";
};

&jpege2 {
	status = "okay";
};

&jpege2_mmu {
	status = "okay";
};

&jpege3 {
	status = "okay";
};

&jpege3_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga3_core0 {
	status = "okay";
};

&rga3_0_mmu {
	status = "okay";
};

&rga3_core1 {
	status = "okay";
};

&rga3_1_mmu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rkvdec_ccu {
	status = "okay";
};

&rkvdec0 {
	status = "okay";
};

&rkvdec0_mmu {
	status = "okay";
};

&rkvdec1 {
	status = "okay";
};

&rkvdec1_mmu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};





